<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--接收Kafka数据配置服务器地址，现场配置http://37.95.104.127:9092-->
    <add key="KafkaAddr" value="http://37.95.104.127:9092"/>
    <!--接收Kafka数据配置的主题-->
    <add key="InputTopic" value="sendToBeltTest" />
    <!--接收kafka数据队列数量100,到1000之间，默认300-->
    <add key="QueueMax" value="300" />
    <add key="QueueTaskCount" value="5" />
    
    <!--图片叠加方式方式，默认0在图片自身进行叠加，1在图片上部位置叠加，2在图片左边位置叠加,3在图片下部位置叠加，4在图片右边位置叠加-->
    <add key="ImageSpliceSort" value="1"/>
    <!--发送结果到Kafka数据的主题-->
    <add key="OutputTopic" value="sendTopic" />
    <!--对外提供的图像文件虚拟目录,默认映射为本程序运行目录的[VEHICLEDATA]文件夹-->
    <add key="RecordFileUrl" value="http://37.95.104.120:80/DATA/" />
    <!--本地视频处理抓拍文件存储目录,默认带[\] -->
    <add key="SnapshotPath" value="C:\Down\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>