<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFaceWcfService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://40.125.202.105:8008/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFaceWcfService" contract="FaceService.IFaceWcfService"
                name="WSHttpBinding_IFaceWcfService" />
        </client>
    </system.serviceModel>
</configuration>