<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--将视频数据接入地址,测试：上社59.avi-->
    <add key="VideoSource" value="rtsp://admin:admin@192.168.1.100:554/h264/ch1/main/av_stream"/>
    <!--采用海康人脸抓拍摄像机输出文件目录 />-->
    <add key="FaceOutDir" value="C:\FACEDATA"/>

    <!--Kafka数据配置服务器地址-->
    <add key="KafkaAddr" value="http://192.168.1.101:9092"/>
    <!--发送结果到Kafka数据的主题-->
    <add key="OutputTopic" value="ods_camera_msface" />
    <!--对外提供的图像文件虚拟目录,默认映射为本程序运行目录的[FACEDATA]文件夹-->
    <add key="FaceFileUrl" value="http://192.168.1.102/FACEDATA/" />

    <!--人脸检测分值1，人脸布控报警2-->
    <add key="StartMode" value="2"/>
    
    <add key="TraceMinArea" value="0.05"/>
    <add key="TraceMaxArea" value="0.5"/>
    <!--人脸图像的清晰度分值默认0.2，低清设置到0.1，高清设置到0.3 -->
    <add key="TraceFaceScore" value="0.15"/>
    <!--人脸图像的比对分值阈值，默认0.7，可以设置0.4到0.9之间 -->
    <add key="AlertScore" value="0.5"/>
    <!--并发处理的任务数量，默认5个 -->
    <add key="QueueTaskCount" value="5"/>
    <!--人脸出现及消失的最小间隔，单位为秒，默认5秒 -->
    <add key="FaceMinPeriod" value="5"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IFaceWcfService" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--微软的人脸识别Web服务地址 -->
      <endpoint address="http://40.125.202.105:8008/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IFaceWcfService" contract="FaceService.IFaceWcfService"
        name="WSHttpBinding_IFaceWcfService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" culture="neutral" publicKeyToken="b32731d11ce58905" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
