<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFaceWcfService" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://40.125.202.105:8008/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFaceWcfService" contract="FaceService.IFaceWcfService"
                name="WSHttpBinding_IFaceWcfService" />
        </client>
    </system.serviceModel>
</configuration>